<div id='users-content'>
  <%= form_for(@user) do |f| %>
    <%= f.label :display_name %>
    <%= f.text_field :display_name %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>

    <%= f.label :avatar_url %>
    <%= f.text_field :avatar_url, placeholder: 'https://example.com/avatar.jpg' %>

    <%= f.submit 'Save changes' %>
  <% end %>

  <h2>Change Password</h2>
  <%= form_for(@user) do |f| %>
    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit 'Change password' %>
  <% end %>
</div>